<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="airticketbooking" transaction-type="RESOURCE_LOCAL">

        <class>com.company.airticket_booking.entity.Passenger</class>
        <class>com.company.airticket_booking.entity.Ticket</class>
        <class>com.company.airticket_booking.entity.Order</class>
    </persistence-unit>
</persistence>
