.noscroll { 
  overflow: hidden;
}

.flickity-viewport {
  overflow: visible;
}

  /*стилизация инпута с флажком */ 
.iti__flag-container {
 top: 12px;
 height: auto;
 display:flex;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent !important;
  outline: none !important;
  height: auto;
  padding: 0 8px 0 0;
}  
.iti__country-list {
  border-radius: 4px;
  border: 0px;
  color: grey;
}  
.iti__arrow {
  border-top: 4px solid #000;
  opacity: 0.4;
  transition: all 200ms ease;
}  
.iti__arrow--up {
  border-bottom: 4px solid #000;
  border-top: 0px solid #000;
  opacity: 0.4;
}

.iti {
  display: block;
  width: 100%;
  margin-bottom: 32px !important;
  font-size: 15px;
}

.video-lightbox-link:hover .video-play-btn {
  background-color: rgba(35, 39, 53, 0.8);
}